@charset "UTF-8";
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url(/src/fonts/SourceSansPro-Regular.ttf) format("truetype");
}
body {
  font-family: "SourceSansPro-Regular";
}

.title-lg {
  font-weight: bold;
  font-size: 70px;
}

.heading-lg {
  font-size: 26px;
}

.text-sm {
  font-size: 16px;
}

.heading-sm {
  font-size: 22px;
  font-weight: bold;
  color: #33325f;
  line-height: 1.59;
  text-transform: uppercase;
}

.text-lg {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
}

.link {
  font-size: 18px;
  font-weight: 600;
  color: #ff0161;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}
header .wrapper {
  padding: 3% 0;
}
header .wrapper nav {
  float: right;
}
header .logo {
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
}

.nav .nav-links {
  color: #ffffff;
  font-size: 18px;
}
.nav .nav-links li {
  display: inline-block;
  margin-right: 50px;
}
.nav .nav-links li:last-child {
  margin-right: 0;
}

.hero {
  background: url("/src/images/background.png") no-repeat center/cover;
  min-height: 771px;
  width: 100%;
  position: relative;
}
.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.hero .title-lg {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero .heading-lg {
  margin-bottom: 30px;
}
.hero .text-sm {
  font-weight: bold;
  background-color: #00d5a6;
  padding: 15px 50px;
  border-radius: 5px;
  text-transform: uppercase;
}

.part-two {
  padding: 110px 0;
}
.part-two .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  display: flow-root;
}
.part-two .about-txt,
.part-two .about-card {
  float: left;
  width: calc((100% - 30px) / 2);
}
.part-two .about-txt {
  margin-right: 30px;
}
.part-two .about-txt .heading-sm,
.part-two .about-txt .text-lg {
  margin-bottom: 5px;
}

.part-three {
  padding: 50px 0;
}
.part-three .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  display: flow-root;
}
.part-three .i-mac,
.part-three .about-mac {
  width: calc((100% - 30px) / 2);
  float: left;
}
.part-three .i-mac {
  margin-right: 30px;
}
.part-three .about-mac {
  margin-top: 18%;
}
.part-three .about-mac .heading-sm {
  margin-bottom: 5px;
}
.part-three .about-mac .text-lg {
  margin-bottom: 26px;
}
.part-three .about-mac .text-lg::after {
  border-bottom: thin solid #773fa1;
  opacity: 0.25;
  margin-bottom: 26px;
  display: block;
  content: "";
  margin-top: 26px;
}
.part-three .about-mac .text-sm {
  float: left;
  width: 70%;
  vertical-align: super;
  margin-right: 15px;
  line-height: 1.5;
}
.part-three .about-mac .text-sm span {
  color: #ff0161;
  font-weight: 600;
}

.part-four {
  padding: 150px 0;
}
.part-four .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  display: flow-root;
}
.part-four .about-i-pad,
.part-four .i-pad {
  width: calc((100% - 30px) / 2);
  float: left;
}
.part-four .about-i-pad {
  margin-right: 30px;
}
.part-four .about-i-pad .heading-sm {
  margin-bottom: 5px;
}
.part-four .about-i-pad .text-lg {
  margin-bottom: 20px;
}
.part-four .about-i-pad .features {
  float: left;
  margin-right: 38px;
}
.part-four .about-i-pad .features:last-child {
  margin-right: 0;
}
.part-four .about-i-pad .features .feature-name {
  margin-bottom: 22px;
}
.part-four .about-i-pad .feature-name::before {
  content: "✓";
  color: #ffffff;
  height: 30px;
  width: 30px;
  background-color: #00d5a6;
  border-radius: 50%;
  padding: 2px 6px;
  margin-right: 10px;
}

footer {
  background-color: #fbfafc;
  border: 1px solid #e7e8ea;
  text-align: center;
}
footer .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}
footer .foot-logo,
footer .social-lnks {
  line-height: 100px;
}
footer .foot-logo {
  font-size: 20px;
  font-weight: bold;
  float: left;
}
footer .get-the-app {
  display: inline-block;
}
footer .social-lnks {
  float: right;
}
footer .social-lnks .fa-brands {
  border: solid 1px #e7e8ea;
  border-radius: 6px;
  padding: 10px;
  color: #b9bdc3;
  background-color: #ffffff;
}
footer::after {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
  content: "© Logo, 2018. All rights reserved.";
  font-size: 11px;
  display: block;
  text-align: left;
  padding: 10px 0;
  color: #999ea8;
  background-color: #f8f9fa;
}
footer hr {
  border-top: 1px solid #e7e8ea;
}

/*# sourceMappingURL=style.css.map */
