$white: #ffffff;
$caribbean-green: #00d5a6;
$rhino: #33325f;
$mine-shaft: #2b2b2b;
$rose: #ff0161;
$shark: #282b31;
$silver-sand: #b9bdc3;
$royal-purple: #773fa1;
$whisper: #fbfafc;
$porcelain: #e7e8ea;
$athens-gray: #f8f9fa;
$santas-gray: #999ea8;
