footer {
  background-color: $whisper;
  border: 1px solid $porcelain;
  text-align: center;

  .foot-container {
    @extend .container;
    max-width: 1120px;
  }
  .foot-logo,
  .social-icons-wrapper {
    line-height: 100px;
  }
  .foot-logo {
    font-size: 20px;
    font-weight: bold;
    float: left;
  }
  .get-the-app {
    display: inline-block;
    a {
      display: inline-block;
    }
  }
  .social-icons-wrapper {
    float: right;
  }
  .social-icons {
    font-size: 0;
    li {
      display: inline-block;
      font-size: initial;
    }
    a {
      border: solid 1px $porcelain;
      border-radius: 6px;
      padding: 10px;
      background-color: $white;
      @include prefix(transition, box-shadow 0.3s, webkit o);
      &:hover {
        @include prefix(
          box-shadow,
          -5px -5px 20px -5px $caribbean-green,
          webkit
        );
      }
    }
  }

  hr {
    border-top: 1px solid $porcelain;
  }
  .logo-rights {
    @extend .foot-container;
    font-size: 11px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $santas-gray;
    background-color: $athens-gray;
  }

  @include respond-to("small") {
    .social-icons-wrapper {
      float: none;
    }
  }
}
