.hero {
  background: url("/src/images/background.png") no-repeat center/cover;
  min-height: 771px;
  width: 100%;
  position: relative;

  article {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%), webkit ms);
    width: 100%;
    text-align: center;
    color: $white;
  }
  .title-lg {
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .heading-lg {
    margin-bottom: 30px;
  }
 

  @include respond-to("small") {
    .hero {
      min-height: 550px;
    }
    .title-lg {
      font-size: 52px;
    }
  }
}
