.part-four {
  padding: 150px 0;
  .container {
    @include container(960px);
    display: flow-root;
  }

  .about-i-pad,
  .i-pad {
    width: calc((100% - 30px) / 2);
    float: left;
  }

  .about-i-pad {
    margin-right: 30px;

    .heading-sm {
      margin-bottom: 5px;
    }
    .text-lg {
      margin-bottom: 20px;
    }
    .features {
      float: left;
      margin-right: 38px;
      &:last-child {
        margin-right: 0;
      }
      .feature-name {
        margin-bottom: 22px;
      }
    }
    .feature-name::before {
      content: "\2713";
      color: $white;
      height: 30px;
      width: 30px;
      background-color: $caribbean-green;
      border-radius: 50%;
      padding: 2px 6px;
      margin-right: 10px;
    }
  }
}
